<br />

<div class="basic-grey">

  <h1>Welcome</h1>

  <ul>
    <li> <span class="glyphicon glyphicon-search" aria-hidden="true"> - </span> <%= link_to "Tipos", kinds_path %></li>
    <li> <span class="glyphicon glyphicon-search" aria-hidden="true"> - </span> <%= link_to "Contatos", contacts_path %></li>
  </ul>

</div>
